toolbar-tool-height = 64px
toolbar-height = 64px
toolbar-medium-tall-height = 88px
toolbar-tall-height = 144px
// toolbar-tall-height = 192px
toolbar-indent-margin = 64px

baseline-grid = 8px !default




.y-toolbar
  position fixed
  z-index 4000
  top 0
  left 0
  font-size 1.3em
  min-height baseline-grid * 8
  width 100%


  .y-toolbar-header
    float left
    height 64px
    font-size 1.3em
    line-height 2.6em

  .y-sub-header
    display none
    width 100%
    height 80px
    float left
    background-color grey

    .y-sub-header-action
      float left
      width 104px

    .y-sub-heading
      float left
      margin-top 15px
      font-size 2em



  &.y-tall
    height toolbar-tall-height
    .y-toolbar-header
      // font-size 2em
      margin-top 50px

      .y-sub-header
        display block

  &.y-paper
    shadow-z-1()

  &.y-ink
    box-shadow none
    -webkit-box-shadow none

  &.y-medium-tall
    height toolbar-medium-tall-height

    .y-toolbar-tools
      height 48px



  .y-indent
    margin-left toolbar-indent-margin

.y-tools

  &.y-tools-left
    float left
    &.y-toggle-tools
      width 80px
      height 64px

  &.y-tools-right
    float right


.y-tool
  // width 50px
  height toolbar-tool-height
  font-weight normal
  padding 0 10px
  margin 0
  line-height 30px
  font-size 1.6em
  text-decoration none

  &:hover,
  &:active,
  &:focus,
  &:visited,
  &.active
    color inherit
    text-decoration none

  &.btn
    background-color inherit
    &:hover
      background-color inherit
      box-shadow none
      -webkit-box-shadow none

  > *
    // margin 0 8px

  h2, h3
    font-weight normal

  a
    color inherit
    text-decoration none


[color*='-500']
  .y-tool
    color $darkbg-text
    &:hover
      color $darkbg-text

