<h1 class="panel-heading">
  Create a new Sub Generator</h1>
<article class="panel-body">
  <form data-ng-submit="vm.addGenerator()">
    <p>Syncs in realtime across clients</p>
    <label  for="newGenerator"
            class="control-label">
          Create</label>

    <input  type="text"
            id="newGenerator"
            class="form-control primary"
            ng-model="vm.newGenerator">
    <br>
    <button type="submit"
            class="btn btn-primary">
          Add New</button>

    <button type="button"
            class="btn btn-danger pull-right"
            ui-sref="listGenerators"
            y-icon="close">
            </button>

  </form>
</article>