<!-- <section>
  <div class="page-header">
    <h1>Edit Generator</h1>
  </div>
  <div class="col-md-12">
    <form class="form-horizontal" data-ng-submit="update()" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input type="text" data-ng-model="generator.name" id="name" class="form-control" placeholder="Name" required>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
    <div data-ng-show="error" class="text-danger">
      <strong>{{error}}</strong>
    </div>
      </fieldset>
    </form>
  </div>
</section>
 -->
 <article class="panel-body">
  <form ng-submit="vm.update()">
    <label for="title">Title</label>
    <input type="text"
       id="title"
       class="form-control primary"
       data-ng-model="vm.generator.title">

    <div data-ng-repeat="(index, info) in vm.generator.info"
        class="form-group">
      <label for="info_{{index}}">Info</label>
      <textarea id="info_{{index}}"
                class="form-control primary"
                style="min-height:100px"
                data-ng-model="vm.generator.info[index]"></textarea>
    </div>
    <br>
    <button type="submit"
        class="btn btn-primary">Done</button>
  </form>
</article>