<!-- <section>
	<div class="page-header">
		<h1>{{generator.name}}</h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == generator.user._id">
		<a class="btn btn-primary" href="#/generators/{{generator._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">Posted on {{generator.created | date:'mediumDate'}} by {{generator.user.displayName}}</em>
	</small>
</section> -->

<h1 class="panel-heading">
  {{vm.generator.title}}</h1>
<article class="panel-body">
  <p data-ng-repeat="info in vm.generator.info">
    {{info}}</p>
  <ul class="">
    <li data-ng-repeat="child in vm.generator.client_files"
        class="">
        <div ng-if="child.dir">
          <strong>{{child.title}}/</strong>
          <ul>
            <li data-ng-repeat="(index, child) in child.children">
              {{child.name}}
            </li>
          </ul>
        </div>
        <div ng-if="!child.dir">
          <strong>{{child.name}}</strong>
        </div>
    </li>
  </ul>
  <hr>
  <button type="button"
          class="btn btn-white pull-right"
          y-icon="trash-o"
          data-ng-click="vm.deleteGenerator(vm.generator)"></button>

  <button type="button"
          class="btn btn-white pull-right"
          y-icon="pencil"
          ui-sref="listGenerators.edit({generatorId:vm.generator._id})"></button>


</article>