<toolbar-control title="admin" size="short" type="ink">
</toolbar-control>
<y-flex>
  <section class="y-panel f-md-3 flex">
    <div class="y-panel-toolbar y-pad-left-80">
      <button class="btn y-tool y-font-sm">
        Admin
      </button>
      <div class="y-panel-toolbar-right">
        <button class="btn y-tool text-right" ui-sref="home.edit({id: vm.thing._id})">
          <i class="mdi-action-search"></i>
        </button>
        <button class="btn y-tool text-right" data-ng-click="vm.deleteThing(vm.thing)">
          <i class="mdi-navigation-more-vert"></i>
        </button>
      </div>
    </div>
    <div class="y-divider color-grey-500"></div>
  </section>
  <section class="f-md-7">
    <ui-view></ui-view>

  </section>
  <section class="f-md-2">
  </section>
</y-flex>
