<y-flex>
  <div class="y-panel-header large color-grey-200">
    <div class="y-panel-heading">
      Features
      <!-- <button
        type="button"
        class="btn btn-white pull-right"
        ng-click="vm.createNewThing()"
        y-icon="plus"></button> -->
    </div>
  </div>
</y-flex>
<y-list>
  <y-item ng-repeat="thing in vm.awesomeThings" ui-sref="home.detail({id:thing._id})">
    <div class="flex">
      <div class="f-auto y-item-content">
        {{thing.name}}
      </div>
      <div class="f-xs-1">
        <button class="btn y-tool text-right">
          <i class="mdi-navigation-more-vert"></i>
        </button>
      </div>
    </div>
    <div class="y-divider" ng-if="!$last"></div>
  </y-item>
</y-list>