.y-item {
  background-color: color-red;
}
.y-side-nav {
  width: 256px;
  height: 100%;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  z-index: 3000;
  background-color: #fff;
  box-shadow: 2px 0 4px rgba(0,0,0,0.3);
  -webkit-box-shadow: 2px 0 4px rgba(0,0,0,0.3);
  transition: left 300ms ease-in-out;
  -webkit-transition: left 300ms ease-in-out;
}
.y-side-toolbar {
  height: 64px;
  width: 100%;
}
.y-side-header {
  height: 80px;
  width: 100%;
}
.y-overlay {
  z-index: 2999;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.3);
  transition: display 400ms ease-in-out 0;
  -webkit-transition: display 400ms ease-in-out 0;
}
body.y-closed .y-overlay {
  display: none;
}
body.y-closed .y-side-nav {
  left: -256px;
}
body.y-open .y-overlay {
  display: block;
}
body.y-open .y-side-nav {
  left: 0px;
}
.y-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.3em;
  min-height: 64px;
  width: 100%;
  box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 6px rgba(0,0,0,0.12);
}
.y-toolbar .y-toolbar-header {
  float: left;
  height: 64px;
  font-size: 1.3em;
  line-height: 2.6em;
}
.y-toolbar .y-sub-header {
  display: none;
  width: 100%;
  height: 80px;
  float: left;
  background-color: #808080;
}
.y-toolbar .y-sub-header .y-sub-header-action {
  float: left;
  width: 104px;
}
.y-toolbar .y-sub-header .y-sub-heading {
  float: left;
  margin-top: 15px;
  font-size: 2em;
}
.y-toolbar.y-tall {
  height: 144px;
}
.y-toolbar.y-tall .y-toolbar-header {
  font-size: 2em;
  margin-top: 50px;
}
.y-toolbar.y-tall .y-toolbar-header .y-sub-header {
  display: block;
}
.y-toolbar.y-medium-tall {
  height: 88px;
}
.y-toolbar.y-medium-tall .y-toolbar-tools {
  height: 48px;
}
.y-toolbar .y-indent {
  margin-left: 64px;
}
.y-tools.y-tools-left {
  float: left;
}
.y-tools.y-tools-left.y-toggle-tools {
  width: 80px;
  height: 64px;
}
.y-tools.y-tools-right {
  float: right;
}
.y-tool {
  height: 64px;
  font-weight: normal;
  padding: 0 10px;
  margin: 0;
  line-height: 30px;
  font-size: 1.6em;
  text-decoration: none;
}
.y-tool:hover,
.y-tool:active,
.y-tool:focus,
.y-tool:visited,
.y-tool.active {
  color: inherit;
  text-decoration: none;
}
.y-tool.btn {
  background-color: inherit;
}
.y-tool.btn:hover {
  background-color: inherit;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.y-tool h2,
.y-tool h3 {
  font-weight: normal;
}
.y-tool a {
  color: inherit;
  text-decoration: none;
}
.y-list,
ul.y-list {
  margin: 0;
  padding: 0;
}
.y-list .y-item,
ul.y-list .y-item {
  height: 64px;
  margin: 0;
  padding: 12px 0 0 0;
  border-bottom: 1px solid #eee;
  padding-left: 32px;
}
.y-list .y-item .y-item-action,
ul.y-list .y-item .y-item-action {
  float: left;
  width: 64px;
  font-size: 2em;
}
.y-list .y-item .y-item-text,
ul.y-list .y-item .y-item-text {
  float: left;
  font-size: 18px;
  line-height: 2em;
}
