
  <div class="col-lg-12">
    <h1 class="page-header">Features:</h1>
    <ul class="list-group" ng-repeat="thing in vm.awesomeThings">
      <li class="list-group-item">
        <a href="#" tooltip="{{thing.info}}">
          {{thing.name}}
          <button type="button" class="close" ng-click="vm.deleteThing(thing)">&times;</button>
        </a>
      </li>
    </ul>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="vm.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="vm.addThing()">Add New</button>
      </span>
    </p>
  </form>
