.y-list,
ul.y-list
  margin 0
  padding 0

  .y-item
    height 64px
    margin 0
    padding 12px 0 0 0
    border-bottom 1px solid #eee
    padding-left 32px

    .y-item-action
      float left
      width 64px
      font-size 2em

    .y-item-text
      float left
      font-size 18px
      line-height 2em
