.y-list,
ul.y-list
  margin 0
  padding 0

  .y-item
    height 64px
    margin 0
    padding 0
    line-height 64px

    .y-item-content
      padding-left 32px

    .y-item-action
      float left
      width 64px
      font-size 2em

    .y-item-text
      float left
      font-size 18px
      line-height 2em

