<div class="container">
    <section class="panel">
      <div ng-include="'app/core/views/header.view.html'" class="text-center"></div>
    </section>
</div>
<div class="container container-xs-height equal">
    <div class="row row-xs-height">
      <div class="col-md-12 col-xs-height" data-ng-class="{'col-md-6': vm.showDetail}">
        <section class="panel">
          <h1 class="panel-heading">
            Features:</h1>
          <article class="panel-body">
            <ul class="list-group">
              <li point class="list-group-item" ng-repeat="thing in vm.awesomeThings" data-ng-click="vm.showThing(thing)">
                  {{thing.name}}
                  <button type="button" class="close" ng-click="vm.deleteThing(thing)">&times;</button>
              </li>
            </ul>
          </article>
        </section>
      </div>

      <div class="col-md-6 col-xs-height" data-ng-show="vm.showDetail">
        <section class="panel">
          <h1 class="panel-heading">
            {{vm.shown.name}}</h1>
          <article class="panel-body">
            {{vm.shown.info}}
          </article>
        </section>
      </div>
    </div>
</div>
<div class="container">
    <form class="thing-form">
      <label>Syncs in realtime across clients</label>
      <p class="input-group">
        <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="vm.newThing">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-click="vm.addThing()">Add New</button>
        </span>
      </p>
    </form>
</div>