.y-list-table
  width 100%
  padding 0
  margin 0
  float left
  .y-item
    height 72px
    width 100%

    // &:last-child
      // border-bottom none

    .y-item-action
      width 56px
      float left
      font-size 1.4em

    .y-item-content
      float left
      .title
        font-weight bold
      .sub-title
        font-size 1.2em

    .y-item-tools
      float right



