<toolbar-control title="Login">
</toolbar-control>
<y-flex>
  <div class="f-md-8 f-md-offset-2 z-top">

    <div class="y-panel filled y-pad-24 y-mr-bottom-24">
      <p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@test.com</code> / <code>test</code></p>
      <p>Admin account is <code>admin@admin.com</code> / <code>admin</code></p>
    </div>


    <section class="y-panel filled y-mr-bottom-24">

      <form class="form" name="form" ng-submit="vm.login(form)" novalidate>

        <y-flex>
          <article class="y-panel-content y-pad-24">

            <div class="form-group">
              <label for="email" class="control-label">Email</label>

              <input type="email"
                     name="email"
                     class="form-control primary"
                     ng-model="vm.user.email"
                     required
                     id="email">
            </div>

            <div class="form-group">
              <label for="password" class="control-label">Password</label>

              <input  type="password"
                      name="password"
                      class="form-control primary"
                      ng-model="vm.user.password"
                      required
                      id="password">
            </div>

            <div class="form-group has-error">
              <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
                 Please enter your email and password.
              </p>
              <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
                 Please enter a valid email.
              </p>

              <p class="help-block">{{ vm.errors.other }}</p>
            </div>
          </article>

          <article class="f-md-12">
            <button class="btn btn-lg btn-clear btn-login" type="submit">
              Sign in
            </button>
            <a class="btn btn-clear btn-lg btn-register pull-right" ui-sref="signup">
              Register
              <i class="fa fa-arrow-right"></i></a>
          </article>

        </y-flex>
      </form>
    </section>

    <y-flex>
      <section class="y-panel filled f-md-12">
        <article class="y-panel-content text-center">

          <a class="btn btn-clear" href="" ng-click="vm.loginOauth('facebook')">
            <i class="fa fa-facebook"></i> Connect with Facebook
          </a>
          <a class="btn btn-clear" href="" ng-click="vm.loginOauth('google')">
            <i class="fa fa-google-plus"></i> Connect with Google+
          </a>
          <a class="btn btn-clear" href="" ng-click="vm.loginOauth('twitter')">
            <i class="fa fa-twitter"></i> Connect with Twitter
          </a>

        </article>
      </section>
    </y-flex>

  </div>
</y-flex>