<toolbar-control title="Signup">
</toolbar-control>
<y-flex>
  <div class="f-md-8 f-md-offset-2 z-top">
    <section class="y-panel filled y-mr-bottom-24">

      <form class="form" name="form" ng-submit="vm.register(form)" novalidate>

        <y-flex>
          <article class="y-panel-content y-pad-24">

            <div  class="form-group"
                  ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                              'has-error': form.name.$invalid && vm.submitted }">
              <label for="name" class="control-label">Name</label>
              <input  type="text"
                      id="name"
                      name="name" class="form-control primary"
                      ng-model="vm.user.name"
                      required/>

              <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
                A name is required</p>

            </div>

            <div  class="form-group"
                  ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                              'has-error': form.email.$invalid && vm.submitted }">
              <label for="email" class="control-label">Email</label>

              <input type="email"
                     id="email"
                     name="email"
                     class="form-control primary"
                     ng-model="vm.user.email"
                     required
                     mongoose-error/>

              <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
                Doesn't look like a valid email.</p>

              <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
                What's your email address?</p>

              <p class="help-block" ng-show="form.email.$error.mongoose">
                {{ vm.errors.email }}</p>

            </div>

            <div  class="form-group"
                    ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                'has-error': form.password.$invalid && vm.submitted }">
              <label for="password" class="control-label">Password</label>

              <input type="password"
                       name="password"
                       class="form-control primary"
                       ng-model="vm.user.password"
                       id="password"
                       ng-minlength="3"
                       required
                       mongoose-error/>
              <p class="help-block"
                 ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
                Password must be at least 3 characters.</p>
              <p class="help-block" ng-show="form.password.$error.mongoose">
                {{ vm.errors.password }}</p>
            </div>

            <div class="form-group has-error">
              <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
                 Please enter your email and password.
              </p>
              <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
                 Please enter a valid email.
              </p>

              <p class="help-block">{{ vm.errors.other }}</p>
            </div>
          </article>

          <article class="f-md-12">
            <button class="btn btn-lg btn-clear btn-login" type="submit">
              Register
            </button>
            <a class="btn btn-clear btn-lg btn-register pull-right" ui-sref="signin">
              Signin
              <i class="fa fa-arrow-right"></i></a>
          </article>

        </y-flex>
      </form>
    </section>

    <y-flex>
      <section class="y-panel filled f-md-12">
        <article class="y-panel-content text-center">

          <a class="btn btn-clear" href="" ng-click="vm.loginOauth('facebook')">
            <i class="fa fa-facebook"></i> Connect with Facebook
          </a>
          <a class="btn btn-clear" href="" ng-click="vm.loginOauth('google')">
            <i class="fa fa-google-plus"></i> Connect with Google+
          </a>
          <a class="btn btn-clear" href="" ng-click="vm.loginOauth('twitter')">
            <i class="fa fa-twitter"></i> Connect with Twitter
          </a>

        </article>
      </section>
    </y-flex>

  </div>
</y-flex>