<div class="container top">
  <div class="row">
    <section class="col-md-12">
      <div class="panel">

        <h1 class="panel-heading color-blue-400 text-white">
          {{vm.<%= names.single.slug %>.title}}
        </h1>
        <article class="panel-body">
          <p text-grey-500>{{vm.<%= names.single.slug %>.content}}</p>
          <small>
            <em class="text-muted">Posted on {{vm.<%= names.single.slug %>.created | date:'mediumDate'}} by {{vm.<%= names.single.slug %>.user.displayName}}</em>
          </small>
          <hr>
          <a  data-ui-sref="<%= names.single.slug %>-edit({<%= names.single.slug %>Id:vm.<%= names.single.slug %>._id})"
              btn-white
              y-icon="pencil"
              class="btn pull-right"
              ></a>
        </article>
      </div>

    </section>
  </div>
</div>
